%h1
  ="#{current_store.name} Blog Archive"
.row
  .large-2.columns
    %h3 Article List
    %ul
    - @articles.each do |article|
      %li= link_to article.title, article_path(current_store, article)
  .large-10.columns
    - @articles.each do |article|
      %article.panel
        %h2= link_to article.title, article_path(current_store, article)
        %h3= "Written by: #{article.customer.first_name} #{time_ago_in_words article.created_at} ago..."
        .row
          .large-12.columns
            %h3
              =article.body.gsub(/\n/, '<br/>').html_safe
