.row
  .large-12.columns
    %article.panel
      %p.right
        = "View count: #{@article.view_count}"
      %h2= @article.title
      %h3= "Written by: #{@article.customer.first_name} #{time_ago_in_words @article.created_at} ago..."
      .row
        .large-12.columns
          %h3
            = @article.body.gsub(/\n/, '<br/>').html_safe

-if @article.customer.admin == true
  = link_to 'Edit', edit_article_path(current_store, @article)
