%h1= "#{current_store.name} Product Listing:"

.large-12.columns
  .row
    .large-12.columns
      = link_to "New Product", new_admin_product_path(@store), action: :new, class: "button right"
      %h1.admin-heading Products
.row
  .large-12.columns
    .text-center
      = paginate @products
    = render @products
