.hero
  %h1.tagline= @store.name
  %hr#tagline
  %h2.sub-tagline= @store.description

%ul.home-list
  - @store.categories.each do |category|
    %li= link_to category.name, category_path(@store, category), class: "home-link"

= javascript_include_tag "application", "vendor/custom.modernizr", "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js", "supersized.3.2.7.min", "supersized.shutter.min"

= render partial: 'background-js'
