%h1
  = @customer.first_name 
  = @customer.last_name
%h3
  Display Name:
  = @customer.display_name
%h3
  Email:
  = @customer.email
%h6
  Shipping Address:
  - address = @customer.shipping_address
  = address.street
  = address.city
  = address.state
  = address.zipcode
  = address.phone