%h1 Listing orders

%table
  %tr
    %th Customer
    %th Status
    %th Total
    %th Order Date & Time
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.customer.username
      %td= order.status
      %td= number_to_currency(order.total)
      %td= order.created_at
      %td= link_to 'Show', admin_order_path(order), class: "button tiny round"
      %td= link_to 'Edit', edit_admin_order_path(order), class: "button tiny round"
  

%br

= link_to 'New Order', new_admin_order_path, class: "button"
