= form_for @admin_store do |f|
  - if @admin_store.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_store.errors.count, "error")} prohibited this admin_store from being saved:"
      %ul
        - @admin_store.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save', class:"button"
