%h1 Stores Dashboard

%table
  %tr
    %th.left Admin Access
    %th Store URL
    %th Description
    %th Status

  - @stores.each do |store|
    %tr
      %td= link_to "#{store.name}", admin_store_path(store.id)
      %td= link_to "http://www.sonofsam.herokuapp.com/#{store.path}", store_path(store.id)
      %td= "#{store.description.split('')[0..31].join}..."
      %td= store.status.titleize
      - if store.status == 'pending'
        %td
          = button_to 'Approve', change_store_status_path(store.id, status: 'active'), method: :put
          = button_to 'Decline', change_store_status_path(store.id, status: 'declined'), method: :put
      - if store.status == 'active'
        %td
          = button_to 'Disable', change_store_status_path(store.id, status: 'disabled'), method: :put
      - if store.status == 'disabled'
        %td
          = button_to 'Enable', change_store_status_path(store.id, status: 'enabled'), method: :put
      - if store.status == 'enabled'
        %td
          = button_to 'Disable', change_store_status_path(store.id, status: 'disabled'), method: :put
      - if store.status == 'declined'
        %td
          = button_to 'Accept', change_store_status_path(store.id, status: 'active'), method: :put
