%h1 Stores Dashboard

%table
  %tr
    %th
    %th
    %th

  - @stores.each do |store|
    %tr
      %td= link_to "#{store.name}", admin_store_path(store.id)
      %td= store.status
      - if store.status == 'pending'
        %td
          = button_to 'Approve', change_store_status_path(store.id, status: 'active'), method: :put
          = button_to 'Decline', change_store_status_path(store.id, status: 'declined'), method: :put
      - if store.status == 'active'
        %td
          = button_to 'Disable', change_store_status_path(store.id, status: 'disabled'), method: :put
      - if store.status == 'disabled'
        %td
          = button_to 'Enable', change_store_status_path(store.id, status: 'enabled'), method: :put
      - if store.status == 'enabled'
        %td
          = button_to 'Disable', change_store_status_path(store.id, status: 'disabled'), method: :put
