- form_method = @customer.new_record? ? "POST" : "PUT"
- form_url = "PUT" ? customers_path : edit_customers_path

= form_for @customer, method: form_method, url: form_url do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg
  .wide
    .field
      = f.label :first_name
      = f.text_field :first_name
    .field
      = f.label :last_name
      = f.text_field :last_name
    .field
      = f.label "display name (optional)"
      = f.text_field :display_name
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password
      = f.password_field :password
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    .actions
      = f.submit 'Create Account', class: "button small"

%h6= link_to 'Already a customer? Click here to login', login_path
