.large-12.columns
  .row
    .large-12.columns
      %h1.left #{current_user.email}'s Account
      %h4.right=link_to "Create a Store", new_store_path, class: "button"

    .large-12.columns
      .row.admin-panel
        .large-12.columns
          %p
            %b Frist Name:
            = @customer.first_name
          %p
            %b Last Name:
            = @customer.last_name
          %p
            %b Username:
            = @customer.username
          %p
            %b Email:
            = @customer.email

          = link_to 'Edit', edit_customers_path
          \|
          = link_to 'Home', root_path
          \|
          - if @customer.shipping_address != nil
            = link_to 'Shipping Address', shipping_address_path(@customer)
          - else
            = link_to 'Shipping Address', new_shipping_address_path
