= form_for  @store , method: 'PUT', url: "/#{@store.path}/admin/store/edit" do |f|
  - if @store.errors.any?
    #error_explanation
      %h2= "#{pluralize(@store.errors.count, "error")} prohibited this store_admin_store from being saved:"
      %ul
        - @store.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Store Name:'
    = f.text_field :name
  .field
    = f.label 'Store URL Id:'
    = f.text_field :path
  .actions
    = f.submit 'Update', confirm: "Are you sure you want to make these changes? Changing your store's name or URL Id may result in broken links or customer confusion."
