= form_for  @store , method: 'PUT', url: "/#{@store.path}/admin/store/edit" do |f|
  - if @store.errors.any?
    #error_explanation
      %h2= "#{pluralize(@store.errors.count, "error")} prohibited this store_admin_store from being saved:"
      %ul
        - @store.errors.full_messages.each do |msg|
          %li= msg

  %h3= "Required Info"
  .field
    = f.label 'Store Name:'
    = f.text_field :name
  .field
    = f.label 'Store URL Id:'
    = f.text_field :path
  .field
    = f.label 'Store Description:'
    = f.text_field :description

  %h3= "Product Layout"
  .field
    = label_tag "Choose Your Product Layout"
    = f.select :layout, options_for_select(layout_options, :selected => @store.layout)

  %h3= "Colors (Optional)"
  .field
    = f.label 'Button Color: (enter either a color or hex code)'
    = f.text_field :button_color
  .field
    = f.label 'Button Color on Hover: (enter either a color or hex code)'
    = f.text_field :button_color_hover
  .field
    = f.label 'Background Color: (enter either a color or hex code)'
    = f.text_field :background_color
  .field
    = f.label 'Text Color: (enter either a color or hex code)'
    = f.text_field :text_color
  .field
    %h3= "Fonts (Optional):"
    = f.text_field :text_font
  .field
    %h3= "Custom CSS (Optional):"
    = f.text_area :custom_css, {"ace-editor" => "", "ace-mode" => "css", "ace-theme" => "github", style: "height: 200px;"}
  .actions
    = f.submit 'Update', confirm: "Are you sure you want to make these changes? Changing your store's name or URL Id may result in broken links or customer confusion.", class: "button"

%hr
%p
  Current Background Images
%ul.small-block-grid-2.large-block-grid-4#background-images
  - @store.background_images.each_with_index do |image, index|
    %li
      = link_to image_tag(image.photo.url, size: "100x100"),background_image_path(current_store,image), id: "background-image-#{index}"
      %br/
      = link_to "Delete", background_image_path(current_store,image), class: "button", method: :delete, confirm:"are you sure you want to delete this image? It will change your store's home page"

%br/
= form_for @background_image, :url => background_images_path, :html => { :multipart => true } do |form|
  .file-inputs
    = form.file_field :photo
  %br/
  = form.submit "Upload Background Image", class: "button"
%hr/
