%h4= "Store Name: #{@store.name}"
%h6= "Description: #{@store.description}"
%h6= "Path: #{@store.path}"
%h6= "Status: #{@store.status}"


= link_to 'Edit', edit_admin_store_path(@store.path, @store.id)
-#\|
-#= link_to 'Back', admin_path(@store.path)
