%h4= "Store Name: #{@store.name}"
%h6= "Description: #{@store.description}"
%h6= "Path: #{@store.path}"
%h6= "Status: #{@store.status}"


= link_to 'Edit', store_admin_edit_store_path(@store.path)
\|
= link_to 'Back', home_path(@store.path)
