%h4= "Store Name: #{@store.name}"
%h6= "Description: #{@store.description}"
%h6= "Path: #{@store.path}"
%h6= "Status: #{@store.status}"

= link_to 'Edit Store Details', store_admin_edit_store_path(@store.path)
\|
= link_to 'Products', store_admin_products_path(@store.path)
\|
= link_to 'Back to Store', home_path(@store.path)

%hr/

%h4 Current Store Admins
%ul
  - @store.admins.each do |admin|
    %li
      = admin.email

      = button_to "remove admin", remove_store_admin_path(@store, :id => admin.id), :method => :put, confirm: "Are you sure you want to remove this Admin?"

= form_tag add_store_admin_path(@store), method: :put, class: "navbar-form" do
  %input.large-3.columns{:placeholder => "Email", name:"email", :type => "email"}/
  = submit_tag "Add New Admin", class: "button"


%hr/

%h4 Current Store Stockers
%ul
  - @store.stockers.each do |stocker|
    %li
      =stocker.email
      = button_to "remove stocker", remove_store_stocker_path(@store, :id => stocker.id), :method => :put, confirm: "Are you sure you want to remove this stocker?"

= form_tag add_store_stocker_path(@store), method: :put, class: "navbar-form" do
  %input.large-3.columns{:placeholder => "Email", name:"email", :type => "email"}/
  = submit_tag "Add New Stocker", class: "button"
