- @orders = @orders || []
%h1= "Order History"

%table
  %tr
    %th
    %th
    %th Store
    %th= link_to "Status (click here for all orders)", orders_path
    %th Total
    %th Order Date & Time
  - @orders.each do |order|
    %tr
      %td= link_to "View Order", order_path(order), class: "button tiny"
      %td= order.url_token
      %td= Store.find(order.store_id).name
      %td= link_to order.status, orders_path(status: order.status) 
      %td= number_to_currency(order.total)
      %td= order.created_at
