%table
  %tr
    %th Customer
    %th Status
    %th Order Date & Time
    %th Customer Email
    %th Status
    %th Order Products
    %tr
      %td= @order.customer.display_name
      %td= "$#{@order.total.to_i}"
      %td= @order.created_at
      %td= @order.customer.email
      %td= @order.status
      %td= @products.join(' | ')

= link_to 'Back', orders_path


   
