%h1 Editing page

= form_for @page, :url => page_path(current_store, @page) do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label "Body: (you can input HTML)"
    = f.text_area :body, {"ace-editor" => "", "ace-mode" => "text", "ace-theme" => "github", style: "height: 300px;"}
  .actions
    = f.submit :update, class: "button"

    = link_to 'Cancel', page_path(current_store, @page), class: "button"
    = link_to 'Back to Admin', store_admin_path, class: "button"
