- @shopping_cart.each do |product,count|
  .row.admin-panel
    .large-2.columns.small-3
      =image_tag product.photo_url
    .large-10.columns
      .left.product-description
        %h2= link_to product.name, product_path(current_store, product)
        %p= product.description
        %h5.left= link_to "Remove Product", carts_path(product: product.id), method: :delete, class: "button small secondary"
      .right
        %h4.right Unit Price
        %h2= "#{number_to_currency(product.price)}"
%h4= link_to "Clear Cart", carts_path(current_store), method: :delete, confirm: "Do you really want to clear your cart?", class: "button small secondary"
