%h2.admin-heading Your Order
.row.admin-panel
  .large-12.columns
    - @shopping_cart.each do |product,quantity|
      .row
        .large-6.columns.left
          %h5= product.name
      .row
        .large-3.columns.right
          = number_to_currency(product.price*quantity)
        .large-3.columns.left
          %h6= "Quantity:#{quantity}"
        .large-6.columns.left
          .large-5.columns
            = button_to "+", carts_path(product: product.id, add: 1), method: "put", class: "button left"
          .large-5.columns
            = button_to "-", carts_path(product: product.id, subtract: 1), method: "put", class: "button right"
    %hr
      = link_to "Checkout Now: #{number_to_currency(@order_total)}", checkout_options_path(current_store), class: "button left"
