%h2.admin-heading Your Order
.row.admin-panel
  .large-12.columns
    - @cart.products.each do |product|
      = form_tag(cart_path, method: :put) do
        .row
          .large-6.columns.left
            %h5= product.name
        .row
          .large-3.columns.right
            - price = @cart.cart_products.find{ |cart_product| cart_product.product_id == product.id }.price
            = number_to_currency(price)
          .large-3.columns.left
            = hidden_field_tag 'product', product.id
            - quantity = @cart.cart_products.find{ |cart_product| cart_product.product_id == product.id }.quantity
            = number_field_tag 'quantity', quantity, min: 1
          .large-4.columns.left
            = submit_tag 'Update quantity', class: "small button secondary"
    %hr
      - if current_user != false && current_user.shipping_address != nil
        = link_to 'Checkout', new_charge_path(amount: @cart.total * 100, customer: current_user.id), class: "button left"
        %h3.right= number_to_currency(@cart.total)
      - elsif current_user.shipping_address == nil
        = link_to 'Checkout', new_shipping_address_path, class: "button"
      - else
        = link_to 'Checkout', login_path, class: "button"