%h2 Your Order
%hr
- @cart.products.each do |product|
  = form_tag(cart_path, method: :put) do
    .row
      .large-6.columns.left
        %h5= product.name
    .row
      .large-3.columns.right
        - price = @cart.cart_products.find{ |cart_product| cart_product.product_id == product.id }.price
        = number_to_currency(price)
      .large-2.columns.left
        = hidden_field_tag 'product', product.id
        - quantity = @cart.cart_products.find{ |cart_product| cart_product.product_id == product.id }.quantity
        = number_field_tag 'quantity', quantity
      .large-4.columns.left
        = submit_tag 'Update quantity', class: "tiny button secondary"
    %hr
= link_to 'Checkout', "#", class: "button"
%p= @cart.total