%h2.admin-heading Your Order
.row.admin-panel
  .large-12.columns
    - @shopping_cart.each do |product,quantity|
      = form_tag(carts_path(current_store), method: :put) do
        .row
          .large-6.columns.left
            %h5= product.name
        .row
          .large-3.columns.right
            = number_to_currency(product.price)
          .large-3.columns.left
            = hidden_field_tag 'product', product.id
            = number_field_tag 'quantity', quantity, min: 1
          .large-4.columns.left
            = submit_tag 'Update quantity', class: "small button secondary"
          %hr
            = link_to 'Checkout', new_charge_path, class: "button left"

      / - if current_user != false && current_user.shipping_address != nil
      /   %h3.right= number_to_currency(@cart.total)
      / - elsif logged_in?
      /   = link_to 'Checkout', new_shipping_address_path, class: "button"
      / - else 
      /   = link_to 'Checkout', login_path, class: "button"
  

    / if user is logged in, has shipping address, and billing address
    / Checkout
    / if user is logged in, but no shipping/billing info
    / redirect to shipping/billing form then checkout
    / if user is not logged in


    /We already took care of this - -  redirect to login / signup
