!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Thank you for your purchase from
      = @store.name
    %h2
      Order Details:
    %h3
      Order Number:#
      = link_to @order.id.to_s.rjust(7,"0"), "http://mrbrown-sose.herokuapp.com/#{url_token_path(@store, @order.url_token)}"
    %table
      %th Item
      %th Quantity
      %th Price
      %th Subtotal
      - @products.each do |line_item, product|
        %tr
          %td= product.name
          %td= line_item.quantity
          %td= number_to_currency(product.price)
          %td= number_to_currency(line_item.subtotal)
    %h4
      Order Total:
      = number_to_currency(@order.total)
    %p
      Thank you,
    %p
      = @store.name
