.row
  %h1.section-heading= @category.name
.row
  .large-12.columns
    .row
      - @category.products.each_with_index do |product, index|
        .large-4.small-6.columns.left{id: "product-wrapper-#{index}"}
          %div{class: "cart-hidden-#{index}"}
            %p.product-stock.left= "#{product.quantity} in stock"
          =link_to image_tag(product.photo_url), admin_product_path(product), class: "product-image-#{index}"
          .panel
            %h5= link_to product.name, product_path(product)
            %h6.subheader= number_to_currency(product.price)
