.row
  %h2.section-heading
    Categories
    - @categories.each do |category|
      %hr
      %h2.section-heading= link_to "~#{category.name}~", category_path(category)
      %hr
      .row
        .large-12.columns  
          .row
            - @active_products.first(6).each do |product|
              .large-2.small-6.columns
                = link_to image_tag(product.image.url(:thumb)), product_path(product)
                .panel 
                  %h5= link_to product.name, product_path(product)
                  %h6.subheader= number_to_currency(product.price)

