.row
  %h2.section-heading= @category.name
.row
  .large-12.columns
    .row
      - @products.each_with_index do |product, index|
        %div{class: "large-4 small-6 columns left", id: "product-wrapper-#{index}"}
          / .cart-hidden + "index"
          %div{class: "cart-hidden-#{index}"}
            %a
              %button= "Add To Cart"
          =link_to image_tag(product.image.url(:medium)), product_path(product), class: "product-image-#{index}"
          .panel
            %h5= link_to product.name, product_path(product)
            %h6.subheader= product.price