- @products.each_with_index do |product, index|
  .row
    .large-2.columns.small-3
      =link_to image_tag(product.image.url, :size =>"130x130"),product_path(current_store, product)
      = form_tag(carts_path(current_store), method: :put) do
        = hidden_field_tag 'product', product.id
        = hidden_field_tag 'quantity', 1
        = submit_tag 'Add to Cart', class: 'button'
    .large-10.columns.panel
      %h5= link_to product.name, product_path(current_store, product)
      %h4.subheader= number_to_currency(product.price)
      %h6=product.description
      %p.product-stock.left= "#{product.quantity} in stock"
.text-center
  = paginate @products
