.row.content
  .large-12.columns
    %ul.button-group
      %li
    .row
      .large-12.columns
        %ul.breadcrumbs
          %li
            = link_to "Home", home_path
          - @product.categories.each do |category|
            %li
              = link_to category.name, category_path(current_store,category)
          %li.current
            %a{:href => "#"}
              = @product.name
    .row
      .large-6.columns
        =image_tag @product.image.url, class: "product-feature"
      .large-6.columns
        %h3.show-for-small Header    
        %h2.hide-for-small.left= @product.name
        %h2.hide-for-small.right= "#{number_to_currency(@product.price)}"
        %hr/
        %h5.subheader= @products
        %h4 Description
        %p= @product.description
        %hr/  
        .row
          = form_tag(carts_path, method: :put) do
            = hidden_field_tag 'product', @product.id
            - if @product.active == false
              %h4 None in Stock
            - else
              = number_field_tag 'quantity', 1, min: 1
            - if @product.active == false
              %h4 Product Retired
            - else
              = submit_tag 'Add to Cart', class: 'button'

