= form_tag addresses_path, method: :post, id:"billing-form" do |f|
  .field
    = label_tag :street
    = text_field_tag "address[street]"
  .field
    = label_tag :city
    = text_field_tag "address[city]"
  .field
    = label_tag :state
    = select_tag "address[state]", options_for_select(us_states, "CO")
  .field
    = label_tag :zipcode
    = text_field_tag "address[zipcode]"
  .field
    = label_tag :phone
    = text_field_tag "address[phone]"
  .action
    = submit_tag 'Save', class:"button"
