.large-4.columns
  %p
    Already have an account? Sign in
  = form_tag create_guest_path(current_store), method: :post do
    .field
      = label_tag :username
      = text_field_tag :username
    .field
      = label_tag :password
      = password_field_tag :password
    .actions
      = submit_tag "Login", class: "button"
.large-4.columns
  %p
    Check Out as a Guest, without Creating an Account
  = form_tag create_guest_path(current_store), method: :post do
    .field
      = label_tag :first_name
      = text_field_tag :first_name
    .field
      = label_tag :last_name
      = text_field_tag :last_name
    .field
      = label_tag :email
      = text_field_tag :email
    .actions
      = submit_tag 'Checkout as Guest', class: "button"
.large-4.columns
  %p
    Create Account
  = render 'customers/form'
