%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %h3
          = link_to "view the code", "/code"
        %p
          © Copyright #{ link_to 'Logan', '#' } / #{ link_to 'Jenn', 'http://twitter.com/7maples' } / #{ link_to 'Chris', 'http://twitter.com/nomadic_knight' } / #{ link_to 'Blair', 'http://twitter.com/blairanderson' }
