%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %h3
          = link_to "view the code", "/code"
        %p
          © Copyright #{ link_to 'John', 'https://github.com/jemaddux' } / #{ link_to 'Paul', 'https://twitter.com/pnblackwell' } / #{ link_to 'Phil', 'https://twitter.com/philbattos' } / #{ link_to 'Blair', 'http://twitter.com/blairanderson' }
