!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "Untitled"

  = stylesheet_link_tag "application"
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tag

.row
  .large-12.columns
    / Navigation
    .row
      .large-12.columns
        .fixed
          %nav.top-bar
            %ul.title-area
              / Title Area
              %li.name
                %h1
                  %a{:href => "/"} OBIWEAR
              %li.toggle-topbar.menu-icon
                %a{:href => "#"}
                  %span menu
            %section.top-bar-section
              / Right Nav Section
              %ul.right
                %li.has-dropdown
                  %a{:href => "#"} Categories <i class="icon-angle-down"></i>
                  %ul.dropdown
                    - category_list.each do |category|
                      %li= link_to category.name, category_path(category)
                    %li= link_to "See all →", categories_path
                - if @cart != nil
                  %li.has-dropdown
                    %a{:href => cart_path(@cart)} Cart <i class="icon-angle-down"></i>
                - if logged_in?
                  %li.has-dropdown
                    %a{:href => "#"} <i class="icon-user"></i> #{current_user.username} <i class="icon-angle-down"></i>
                    %ul.dropdown
                      %li
                        %a{:href => customer_path(current_user) } Account
                      %li
                        %a{:href => "#"} Orders
                      %li.divider
                      %li
                        %a{:href => logout_path } Logout
                - else
                  %li.has-dropdown
                    %a{:href => "#" } Login / Signup <i class="icon-angle-down"></i>
                    %ul.dropdown
                      %li
                        %a{:href => login_path } Login
                      %li
                        %a{:href => new_customer_path } Signup
          / End Top Bar
      / End Navigation

  = yield

  %footer.row
    .large-12.columns
      %hr/
      .row
        .large-6.columns
          %p © Copyright no one at all. Go to town.
        .large-6.columns
          %ul.inline-list.right
            %li
              %a{:href => "#"} Link 1
            %li
              %a{:href => "#"} Link 2
            %li
              %a{:href => "#"} Link 3
            %li
              %a{:href => "#"} Link 4

  = javascript_include_tag "application"