!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Son of Sam ecommerce stores
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "ecommerce stores"}/
    %meta{:content => "", :name => "gschool students"}/
    %link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", :rel => "stylesheet"}/
    %script{:src => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"}
    :css
      /* GLOBAL STYLES
      -------------------------------------------------- */
      /* Padding below the footer and lighter body text */

      body {
        padding-bottom: 40px;
        color: #5a5a5a;
      }


      /* CUSTOMIZE THE CAROUSEL
      -------------------------------------------------- */

      /* Carousel base class */
      .carousel {
        margin-bottom: 60px;
      }

      .carousel .container {
        position: relative;
        z-index: 9;
      }

      .carousel .item {
        height: 377px;
      }
      .carousel img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 500px;
      }

      .carousel-caption {
        background-color: transparent;
        position: static;
        max-width: 1200px;
        padding: 0 20px;
        margin-top: 75px;
      }
      .carousel-caption h1,
      .carousel-caption .lead {
        margin: 0;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
      }
      .carousel-caption .btn {
        margin-top: 10px;
      }

      .carousel-inner {
        overflow: hidden;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1500px;
        position: relative;
        }



      /* MARKETING CONTENT
      -------------------------------------------------- */

      /* Center align the text within the three columns below the carousel */
      .marketing .span4 {
        text-align: center;
      }
      .marketing h2 {
        font-weight: normal;
      }
      .marketing .span4 p {
        margin-left: 10px;
        margin-right: 10px;
      }


      /* Featurettes
      ------------------------- */

      .featurette-divider {
        margin: 80px 0; /* Space out the Bootstrap <hr> more */
      }
      .featurette {
        padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
        overflow: hidden; /* Vertically center images part 2: clear their floats. */
      }
      .featurette-image {
        margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
      }

      /* Give some space on the sides of the floated elements so text doesn't run right into it. */
      .featurette-image.pull-left {
        margin-right: 40px;
      }
      .featurette-image.pull-right {
        margin-left: 40px;
      }

      /* Thin out the marketing headings */
      .featurette-heading {
        font-size: 50px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
      }



      /* RESPONSIVE CSS
      -------------------------------------------------- */

      @media (max-width: 979px) {

        .container.navbar-wrapper {
          margin-bottom: 0;
          width: auto;
        }
        .navbar-inner {
          border-radius: 0;
          margin: -20px 0;
        }

        .carousel .item {
          height: 500px;
        }
        .carousel img {
          width: auto;
          height: 377px;
          max-width: 1280px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        .featurette {
          height: auto;
          padding: 0;
        }
        .featurette-image.pull-left,
        .featurette-image.pull-right {
          display: block;
          float: none;
          max-width: 40%;
          margin: 0 auto 20px;
        }
      }

      .carousel h1{
        font-size: 80px;
      }
      p.lead#subheader{
        font-size: 80px;
      }
      #new-customer-link {
        font-size: 30px;
        margin-top:-30px;
        margin-bottom:30px;
      }
      #large-new-customer-link {
        font-size: 30px;
        margin-top:-30px;
        margin-bottom:30px;
        background-color: #1abc9c;
        font-color:#fff;
      }
      #large-new-customer-link:hover {
        background-color: #2ecc71;
      }

      #large-new-customer-link a {
        color: #fff;
        text-decoration: none;
        }

      h1#team {
        font-size: 100px;
        text-align: center;
      }

      .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

      @media (max-width: 767px) {

        .navbar-inner {
          margin: -20px;
        }

        .carousel {
          margin-left: -20px;
          margin-right: -20px;
        }
        .carousel .container {

        }
        .carousel .item {
          height: 300px;
        }
        .carousel img {
          height: 300px;
        }
        .carousel-caption {
          width: 100%;
          padding: 0 70px;
          margin-top: 100px;
        }

        .carousel-caption .lead,
        .carousel-caption .btn {
          font-size: 30px;
        }

        .marketing .span4 + .span4 {
          margin-top: 40px;
        }

        .featurette-heading {
          font-size: 30px;
        }
        .featurette .lead {
          font-size: 18px;
          line-height: 1.5;
        }

      }
        %body
    /
      Carousel
      \==================================================
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          %img{:alt => "", :src => "http://d3b5cprckrbz8i.cloudfront.net/long_bridge.jpg"}/
          .container
            .carousel-caption
              %h1 Your Online Store
              %p.lead#subheader we have the way
              = form_tag customer_sessions_path(@customer), method: :post, class: "navbar-form pull-right" do
                %input.span2{:placeholder => "Email", name:"email", :type => "text"}/

                %input.span2{:placeholder => "Password", name:"password", :type => "password"}/
                = submit_tag "Sign in", class:"button"


    / Wrap the rest of the page in another container to center all the content.
    .container.marketing
      .row
        .well.pull-right#large-new-customer-link
          = link_to 'New customer? Create a New Account Here.', new_customers_path

      / Three columns of text below the carousel
      .row
        .span4
          %img.img-rounded{:src => "https://s3.amazonaws.com/sonofstoreengine/stripe.png"}/
          %h2 Credit Card Processing.
          %p We want you to have your money fast, we integrated with stripe so that you don't have to. We get the money one-week after a customer pays, then we send it to you next day.
          %p
            = link_to 'Get Started.', new_customers_path, id:"new-customer-link"
        / /.span4
        .span4
          %img.img-rounded{:src => "https://s3.amazonaws.com/sonofstoreengine/sendgrid.png"}/
          %h2 Free Emails.
          %p For beta customers, we're offering free emails through SendGrid. Each time a customer purchases through your store, they get an email notification and their name is added to your sales dashboard.
          %p
            = link_to 'Try us Out.', new_customers_path, id:"new-customer-link"
        / /.span4
        .span4
          %img.img-rounded{:src => "https://s3.amazonaws.com/sonofstoreengine/chart.jpg"}/
          %h2 Sales Dashboard.
          %p The sales dashboard is the home-base for store administrators. If you choose to add other people to your store, they'll also be able to access the sales dashboard.
          %p
            = link_to 'Sign Up Today', new_customers_path, id:"new-customer-link"
        / /.span4
      / /.row
      / START THE FEATURETTES
      / %hr.featurette-divider/
      / .row
      /   %h1#team The Team
      / %br/
      / %br/
      / .featurette
      /   %img.featurette-image.img-rounded.pull-right{:src => "http://placehold.it/100/100"}/
      /   %hr
      /   %h2.featurette-heading
      /     Paul Blackwell.
      /     %span.muted Subheader stuff about paul.
      /   %p.lead Here is some stuff about paul
      /   %hr
      / .featurette
      /   %img.featurette-image.img-rounded.pull-left{:src => "http://d3b5cprckrbz8i.cloudfront.net/blair.jpg"}/
      /   %hr
      /   %h2.featurette-heading
      /     Blair Anderson.
      /     %span.muted He's Really Loud!
      /   %p.lead Blair is from Seattle, his favorite vegetable is kale in smoothie form. He's been a developer since 2012 and is always looking for a new adventure. Find his code on github @ blairand.
      /   %hr
      / .featurette
      /   %img.featurette-image.img-rounded.pull-right{:src => "http://placehold.it/100/100"}/
      /   %hr
      /   %h2.featurette-heading
      /     Phil Battos.
      /     %span.muted Out of this World!
      /   %p.lead Phil details go here

      /   %hr
      / .featurette
      /   %img.featurette-image.img-rounded.pull-left{:src => "http://placehold.it/100/100"}/
      /   %hr
      /   %h2.featurette-heading
      /     John.
      /     %span.muted Stuff goes here
      /   %p.lead More stuff goes here
      /   %hr
      / / /END THE FEATURETTES
      / / FOOTER
      = render partial: "layouts/footer"

