/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "SonOfSam"

  = stylesheet_link_tag "application"
  <link href='http://fonts.googleapis.com/css?family=Questrial|Amatic+SC:700' rel='stylesheet' type='text/css'>
  = csrf_meta_tag

.row
  .large-12.columns
    / Navigation
    .row
      .large-12.columns
        .fixed
          %nav.top-bar
            %ul.title-area
              / Title Area
              %li.name
                %h1
                  = link_to "Son of Sam", root_path
              %li.toggle-topbar.menu-icon
                %a{:href => "#"}
                  %span menu
            %section.top-bar-section
              / Right Nav Section
              %ul.right
                %li
                  =link_to "Create a Store", new_store_path
                %li.has-dropdown
                - if logged_in?
                  %li.has-dropdown
                    %a{:href => customers_path } <i class="icon-user"></i> #{current_user.username} <i class="icon-angle-down"></i>
                    %ul.dropdown
                      %li
                        = link_to "Account",customers_path
                      %li
                        = link_to "Orders", orders_path
                      %li.divider
                      %li
                        = link_to "Logout", logout_path
                - else
                  %li.has-dropdown
                    = link_to "Login / Signup <i class='icon-angle-down'></i>".html_safe, login_path
                    %ul.dropdown
                      %li
                        = link_to "Login", login_path
                      %li
                        = link_to "Signup", new_customers_path
          / End Top Bar
      / End Navigation


  = yield

  %footer.row
    .large-12.columns
      %hr/
      .row
        .large-6.columns
          %p
            © Copyright #{ link_to 'Logan', '#' } / #{ link_to 'Jenn', '#' } / #{ link_to 'Chris', 'http://twitter.com/nomadic_knight' } / #{ link_to 'Blair', 'http://twitter.com/blairanderson' }

  = javascript_include_tag "application", "vendor/custom.modernizr", "http://code.jquery.com/jquery-1.9.1.min.js"

  :javascript
    $(document).ready(function(){
      $('[id^="product-wrapper"]').hover(function(){
        var className = $(this).children('[class^="cart-hidden"]').attr('class');
        var classIndex = className.match(/\d+/);
        $('.cart-hidden-'+classIndex).addClass("cart-visible");
        },
        function() {
        var className = $(this).children('[class^="cart-hidden"]').attr('class');
        var classIndex = className.match(/\d+/);
        $('.cart-hidden-'+classIndex).removeClass("cart-visible");
      });
      $('#category-dropdown').click(function() {
        return false;
      });
      });
